.DS_Store
__pycache__/
*.py[cod]

.venv/
venv/

wandb/
wandb_api_key.txt
*.log

data/
results/
feats/
path/to/feats/

*.pt
*.pth
*.h5
*.hdf5
*.svs

baselines/*/data/
baselines/*/results/
baselines/*/.venv/
